# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Data files
storage/data.json
storage/storage.json
storage/generated.json
storage/sbrain.db

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db